adjustText==0.7.3
altair==4.2.0
altair-data-server==0.4.1
altair-saver==0.5.0
altair-viewer==0.4.0
anyio==3.3.4
appnope==0.1.2
argon2-cffi==21.1.0
async-generator==1.10
attrs==21.4.0
autopep8==1.5.7
backcall==0.2.0
bleach==4.1.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
cryptography==36.0.1
cycler==0.11.0
decorator==5.0.9
defusedxml==0.7.1
entrypoints==0.3
fonttools==4.29.1
h11==0.13.0
idna==3.3
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.3.3
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
kiwisolver==1.3.2
lightfm==1.16
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.2
mdutils==1.3.1
mistune==0.8.4
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
numpy==1.19.5
outcome==1.1.0
packaging==21.0
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
portpicker==1.5.0
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==3.17.3
psutil==5.9.0
ptyprocess==0.7.0
pycodestyle==2.7.0
pycparser==2.20
Pygments==2.9.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
PyQt3D==5.15.4
PyQt5==5.15.4
PyQt5-sip==12.9.0
PyQtChart==5.15.4
PyQtDataVisualization==5.15.4
PyQtNetworkAuth==5.15.4
PyQtPurchasing==5.15.4
PyQtWebEngine==5.15.4
pyrsistent==0.18.0
python-dateutil==2.8.1
pytz==2021.3
pyzmq==22.1.0
requests==2.26.0
requests-unixsocket==0.2.0
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
selenium==4.1.0
Send2Trash==1.8.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
TBB==0.2
terminado==0.12.1
testpath==0.5.0
texttable==1.6.4
threadpoolctl==3.0.0
toml==0.10.2
toolz==0.11.2
tornado==6.1
tqdm==4.62.3
traitlets==5.0.5
trio==0.19.0
trio-websocket==0.9.2
urllib3==1.26.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
wsproto==1.0.0
yellowbrick==1.3.post1
